.place__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
    line-height: 1.1;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));

  }
}

@media screen and (max-width: 345px) {
  .place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 1.125;
  }
}
