.header__logo {
  width: 176px;
  height: 52px;
  background-image: url('../../../images/header-logo.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* Для более плавного перехода */
  -webkit-transition: width .3s, height .3s;
  -o-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
