.footer__link {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .3;
}
