.lead__title {
  margin: 0 auto;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  width: 100%;
  text-align: center;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(100vw / 8);
    line-height: calc(100vw / 8 + 4px);
    max-width: calc(100vw - 48px);
    min-width: 288px;
  }
}
