.place__paragraph {
  margin: 0 0 26px;
  color: #fff;
  font-size: 18px;
  line-height: 1.63;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}
