.lead__caption {
  margin-top: 8px;
  font-size: 10px;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 792px) {
  .lead__caption {
    margin-left: calc(792px - 100vw);
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: calc(16px + 8 * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
