.cover__title {
  color: #fff;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
    max-width: calc(100vw / 768 * 560);
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}
