/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.place {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 48px;
}.place > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.place > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.place > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.place > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

@media screen and (max-width: 1024px) {
  .place {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }
  @media screen and (max-width: 700px) {
    .place {
      row-gap: 32px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
}
