.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
